@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SorryView</title>
</head>
<body>
    <div>
        <img src="../../Content/Photos/12684593517538.jpg" /> 无权限，请联系管理员
    </div>
</body>
</html>
